@import "tailwindcss";

:root {
    --background: hsl(220, 20%, 97%);
    --foreground: hsl(220, 20%, 10%);

    --card: hsl(0, 0%, 100%);

    --primary: hsl(230, 80%, 55%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(220, 16%, 92%);

    --muted: hsl(220, 14%, 92%);
    --muted-foreground: hsl(215, 15%, 45%);

    --border: hsl(220, 14%, 86%);
    --input: hsl(220, 14%, 86%);
    --ring: hsl(230, 80%, 55%);

    --radius: 0.75rem;

    --gradient-primary: linear-gradient(135deg, hsl(320, 80%, 55%), hsl(164, 70%, 55%));
    --gradient-glow: 0 0 40px hsl(230 80% 55% / 0.8);
}

.dark {
    --background: hsl(220, 20%, 7%);
    --foreground: hsl(210, 20%, 92%);

    --card: hsl(220, 18%, 10%);

    --primary: hsl(230, 80%, 62%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(220, 16%, 16%);

    --muted: hsl(220, 14%, 14%);
    --muted-foreground: hsl(215, 31%, 44%);

    --border: hsl(220, 14%, 18%);
    --input: hsl(220, 14%, 18%);
    --ring: hsl(230, 80%, 62%);

    --gradient-primary: linear-gradient(135deg, hsl(147, 80%, 62%), hsl(64, 70%, 60%));
    --gradient-glow: 0 0 40px hsla(230, 100%, 83%, 0.8);
}

@layer base {

    *,
    ::before,
    ::after {
        border-color: var(--border);
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
        font-family: "Red Hat Display", sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}

@layer utilities {
    .gradient-text {
        background-clip: text;
        color: transparent;
        background-image: var(--gradient-primary);
    }

    .gradient-bg {
        background-image: var(--gradient-primary);
    }

    .glow {
        box-shadow: var(--gradient-glow);
    }

    .glow-hover:hover {
        box-shadow: var(--gradient-glow);
    }
}